@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: #fff;
    position: relative;
}

p {
    margin: 0px;
}

.multiplica-logo {
    position: absolute;
    top: 25px;
    left: 25px;
}

section.main .my-form {
    width: auto;
    height: 300px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 6.4px 32px rgb(0 0 0 / 18%);
    display: flex;
    justify-content: center;
    background-color: #fff;
}

section.main {
    height: 100vh;
    width: 100vw;
}

section.main .show-data {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.main .my-form input[type=number]{
    height: 40px;
    border-radius: 16px;
    border: 1px solid #ccc;
    -moz-appearance: textfield;
    color: rgb(38, 38, 38);
    padding-left: 15px;
}

section.main .my-form .btn-red{
    height: 50px;
    border-radius: 16px;
    border: none;
    color: #fff;
    background-color: rgb(235, 73, 56 );
    font-weight: 500;
    font-size: auto;
}

section.main .my-form input[type=number]:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section.main .my-form .main__text {
    color: rgb(38, 38, 38);
    font-size: 19px;
}

section.main .show-data .btn-copy {
    background-color: #fff;
    border: none;
    height: 40px;
    font-size: 35px;
    margin-bottom: 13px;
}

section.main .show-data .btn-red {
    height: 50px;
    border-radius: 16px;
    border: none;
    color: #fff;
    background-color: rgb(235, 73, 56 );
    font-weight: 500;
    font-size: auto;
    width: 150px;
}

section.main .show-data .btn-grey {
    height: 50px;
    border-radius: 16px;
    border: none;
    color: #fff;
    background-color: rgb(38, 38, 38 );
    font-weight: 500;
    font-size: auto;
    width: 150px;
}
section.main .show-data .clipboard-input {
    border: none;
    color: rgb(38, 38, 38 );
    font-size: 20px;
    width: 40%;
    height: 50px;
}

section.main .show-data .show__text {
    color: rgb(38, 38, 38);
    font-size: 20px;
    width: 50%;
}

@media only screen and (min-width: 768px) {
    section.main .show-data .btn-grey,
    section.main .show-data .btn-red {
        width: 170px;
    }
    section.main .show-data .show__text {
        width: 50%;
    }
    section.main .show-data .clipboard-input {
        width: 50%;
    }

}
